
* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.login-box {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box label {
    width: 100%;
    margin-bottom: 15px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    color: black;
}

button {
    background-color: #7DA6A8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkgray;
}
