body {
    margin: 0;
    padding: 0;
    background-color: #7DA6A8;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7DA6A8;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .left {
    display: flex;
    align-items: center;
}

.navbar .left img {
    margin-right: 10px;
}

.navbar .right {
    display: flex;
    align-items: center;
}

.navbar .right a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px; /* Reduced font size */
}

.navbar .right a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 18px; /* Reduced font size */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(23, 166, 220);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    margin-top: 80px; /* Adjust margin to prevent overlap with navbar */
    padding: 20px;
    background-attachment: fixed;
    
}

h1 {
    text-align: center;
    font-size: 50px; /* Adjusted font size for better visibility */
    margin: 20px 0;
}

.artist-container,
.artist-container2 {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 30px;
    white-space: nowrap;
    margin-top: 50px; /* Adjust margin-top to ensure it is not overlapped by the fixed navbar */
    border-bottom: 2px solid white;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.artist-label {
    margin-right: 10px; /* Adjust the space between the label and name as needed */
    font-weight: bold;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}

.image-box {
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-bottom: 20px;
    border: 5px solid white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 15px;
}

.image-box:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}
